.example-container {
    width: 99%;
    height: 660px;
    margin: 10px;
    border: 1px solid rgb(198, 189, 189);
    background-color: rgb(203, 168, 122);
  }
  .adminleft{
    width: 150px;
    background-color: rgb(166, 144, 220);
    
  }